<div class="app-shell">
  <header class="app-header">
    <div class="app-title">
      <a routerLink = "/" routerLinkActive="active">ValPicks</a>
    </div>

    <nav class="app-nav">
      <a routerLink="/create" routerLinkActive="active">
        Create Match
      </a>
      <a routerLink="/join" routerLinkActive="active">
        Join Match
      </a>
      <a href="https://github.com/warren-xu/ValPicks-frontend" target="_blank">
      <i class="fab fa-github" style="font-size:30px;"></i>
    </a>
    </nav>
  </header>

  <main class="app-main">
    <router-outlet></router-outlet>
  </main>

  <footer class="app-footer">
    <span>Made by Warren Xu</span>
  </footer>
</div>
